; cli configs
metrics-registry = "https://registry.npmjs.org/"
scope = "@adityaparab"
user-agent = "npm/5.6.0 node/v8.11.3 darwin x64"

; userconfig /Users/aparab/.npmrc
//registry.npmjs.org/:always-auth = true
//registry.npmjs.org/:email = "mradityaparab@gmail.com"
//registry.npmjs.org/:username = "adihimself"

; node bin location = /usr/local/bin/node
; cwd = /Users/aparab/Aditya/playground/npm/tester
; HOME = /Users/aparab
; "npm config ls -l" to show all defaults.